
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_PartialConsole.cshtml";
}


<h2>@ViewBag.Title</h2>
<div class="container">
    <div class="row">
       
    </div>
    <div class="row">
        @Html.ActionLink("Manage Roles", "Index", "RolesAdmin")
    </div>
    <div class="row">
        @Html.ActionLink("Manage Users", "Index", "UsersAdmin")
    </div>
</div>
<ul>
    <li><a href="@Url.Action("Index", "ClientDetails")">CLIENT</a></li>
    <li><a href="@Url.Action("Index", "CompanyTokens")">TOKEN</a></li>
    <li><a href="@Url.Action("Index", "LaundryManagers")">LAUNDRY MANAGER</a></li>
    <li><a href="@Url.Action("Index", "LaundryPayments")">PAYMENT</a></li>
    <li><a href="@Url.Action("Index", "WashWorkFlows")">ACTIVITY</a></li>
</ul>

