<!DOCTYPE html>
<html>
<head>
    <title>BUCKETT LAUNDRY</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Buckett" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="manifest" href="~/site.webmanifest">
    
    <link href="~/immerse/web/css/bootstrap.min.css" rel="stylesheet" media="all" />
    <link href="~/immerse/web/css/font-awesome.min.css" rel="stylesheet" media="all" />

    <link href="~/immerse/web/css/owl.carousel.css" rel="stylesheet" />

    <link href="~/immerse/web/css/lightbox.css" rel="stylesheet" />

    <link href="~/immerse/web/css/cm-overlay.css" rel="stylesheet" />

    <link href="~/immerse/web/css/style.css" rel="stylesheet" media="all" />


    <link href="~/immerse/web/fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="~/immerse/web/fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="~/immerse/web/fonts.googleapis.com/css?family=Sintony:400,700&amp;subset=latin-ext" rel="stylesheet">
</head>
<body>
    <!-- banner -->
    <div class="w3l_banner">

        <div class="w3_bandwn">
            <div class="container">
                <div class="col-md-3 w3_l">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:info@rytesoftcompany.net">info@rytesoftcompany.net</a>
                </div>
                <div class="col-md-6 w3_c">
                    <i class="fa fa-phone" aria-hidden="true"></i> +234 806 266 7809
                    <br />
                    @Html.Partial("_LoginPartial")
                </div>

                <div class="col-md-3 w3_r">
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
       
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1><a class="navbar-brand" href="#">BUCKETT</a></h1>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#index.html" class="page-scroll">HOME</a></li>
                        <li><a href="#about" class="page-scroll">ABOUT</a></li>
                        <li><a href="#services" class="page-scroll">SERVICES</a></li>
                        <li><a href="#gallery" class="page-scroll">GALLERY</a></li>
                        <li><a href="#testimonials" class="page-scroll">TESTIMONIALS</a></li>
                        <li><a href="#contact" class="page-scroll">CONTACT</a></li>
                        @if (Request.IsAuthenticated && User.IsInRole("Company"))
                        {
                            <li><a href="@Url.Action("Dashboard", "Home")">DASHBOARD</a></li>

                        }
                        @*<li><a href="@Url.Action("Index", "Admin")">ADMIN</a></li>*@
                        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                        {

                            <li><a href="@Url.Action("Index", "Admin")">ADMIN</a></li>
                        }
                    </ul>
                    @*<form class="navbar-form navbar-left">
                        <div class="w3l_frm">
                            <form action="#" method="post">
                                <button type="submit"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></button>
                                <input type="text" name="search" placeholder="Search" required="">
                            </form>
                        </div>
                    </form>*@

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        @RenderBody()
        <div class="w3l_bandwn">
            <h2>Welcome to Buckett Laundry Application</h2>
            <div class="about-p text-center">
                <span class="sub-title"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="sub-title"></span>
            </div>
            <h3>Washing Clothes</h3>
            <div class="agile_dwng">
                <a href="#" data-toggle="modal" data-target="#myModal">Read More </a>
                <div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">BUCKETT</h4>
                            </div>
                            <div class="modal-body">

                                <img src="~/immerse/web/images/modal.jpg" class="img-responsive" alt="tfg">
                                <p>We are a bespoke laundry service which brings specialist laundry to your doorstep. Whether at home or at work, our collection and delivery service will take care of your everyday laundry needs.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- /features -->
    <div class="about" id="about">
        <div class="features" id="features">
            <div class="container">
                <h3>About Us</h3>
                <div class="tittle_head_w3layouts">
                    <h4>Premium Quality</h4>

                    <P>World class service, Leading European cleaning equipments, Environmentally friendly solvent, Highly trained and experienced staff.</P>
                </div>
                <div class="inner_sec_info_agileits_w3">
                    <!-- <div class="border1"> -->
                    <div class="w3_banup">
                        <div class="col-md-4 w3_ret">
                            <div class="col-md-10 w3_txt">
                                <h4>Save Time</h4>
                                <p>Premium service at affordable prices, Flexible packages at different prices to fit your lifestyle, Corporate concierge service</p>
                            </div>
                            <div class="col-md-2 w3ls_ic">
                                <i class="fa fa-comment-o" aria-hidden="true"></i>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-md-10 w3_txt">

                                <h4>Tumble Drying</h4>
                                <p>dry (washed clothes) by spinning them in hot air inside a dryer.</p>
                            </div>
                            <div class="col-md-2 w3ls_ic">
                                <i class="fa fa-microphone" aria-hidden="true"></i>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-md-10 w3_txt">

                                <h4>Customize Quickly</h4>
                                <p>Laundry processes include washing (usually with water containing detergents or other chemicals), agitation, rinsing, drying, pressing (ironing), and folding.</p>
                            </div>
                            <div class="col-md-2 w3ls_ic">
                                <i class="fa fa-cubes" aria-hidden="true"></i>
                            </div>
                            <div class="clearfix"></div>

                        </div>
                        <div class="col-md-4 w3l_mid">
                            <div class="bulb">
                                <img src="~/immerse/web/images/pic.jpg" alt="" />
                            </div>
                        </div>
                        <div class="col-md-4 wthree_r">
                            <div class="col-md-2 w3ls_ic">
                                <i class="fa fa-street-view" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-10 w3_txt">
                                <h4>Sorting</h4>
                                <p class="move"></p>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-md-2 w3ls_icr">
                                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-10 w3_txt">
                                <h4>Mildew Effect</h4>
                                <p class="move"></p>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-md-2 w3ls_icr">
                                <i class="fa fa-laptop" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-10 w3_txt">
                                <h4>Crocking.</h4>
                                <p class="move"></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
    <!-- //features -->
   
    <!-- Order Form-->
    <div class="w3ls_frmrt">
        <div class="container">
            <h3>Book Now</h3>
            <div class="book-form">
                <form action="#" method="post">
                    <div class="col-md-3 form-time-w3layouts">
                        <label><i class="fa fa-user" aria-hidden="true"></i> Name</label>
                        <input type="text" placeholder="Name" required="">
                    </div>
                    <div class="col-md-3 form-time-w3layouts">
                        <label><i class="fa fa-phone" aria-hidden="true"></i> Phone Number</label>
                        <input type="text" placeholder="Phone No." required="">
                    </div>
                    <div class="col-md-3 form-time-w3layouts">
                        <label><i class="fa fa-map-marker" aria-hidden="true"></i>Location</label>
                        <input type="text" placeholder="Location" required="">
                    </div>
                    <div class="col-md-3 form-date-w3-agileits">
                        <label><i class="fa fa-cloud" aria-hidden="true"></i>No.Of.Pairs</label>
                        <input type="number" placeholder="No.Of.Pairs" required="">
                    </div>
                    <div class="col-md-3 form-left-agileits-w3layouts ">
                        <label><i class="fa fa-cart-plus" aria-hidden="true"></i> Category</label>
                        <select class="form-control">
                            <option>Wash only</option>
                            <option>Wash and Iron</option>
                            <option>Wash,Starch and Iron</option>
                            <option>Iron only</option>
                        </select>
                    </div>
                    <div class="col-md-3 form-left-agileits-submit">
                        <input type="submit" value="Book your Laundry">
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
    <!-- /Order Form-->
    <!-- Services-->
    <div class="services" id="services">
        <div class="container">
            <h3>Services</h3>
            <div class="col-md-4 hhh">
                <div class="wthree_rt">
                    <i class="fa fa-ship" aria-hidden="true"></i>
                    <h4>Competetive Pricing</h4>
                    <p></p>
                </div>
            </div>
            <div class="col-md-4 hhh">
                <div class="wthree_rt">
                    <i class="fa fa-space-shuttle" aria-hidden="true"></i>
                    <h4>Customizable Service</h4>
                    <p></p>
                </div>
            </div>
            <div class="col-md-4 hhh">
                <div class="wthree_rt">
                    <i class="fa fa-sitemap" aria-hidden="true"></i>
                    <h4>Free Pickup& Delivery</h4>
                    <p></p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="w3l_serdwn">
                <div class="col-md-4 hhh">
                    <div class="agile_ser">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                        <h4>Personal laundress</h4>
                        <p></p>
                    </div>
                </div>
                <div class="col-md-8 W3ls_serv">
                    <div class="agile_ser ">
                        <div class="col-md-6 wthree_l">
                            <p></p>
                        </div>
                        <div class="col-md-6 wthree_rts">
                            <img src="~/immerse/web/images/s1.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- /Services-->
    <!-- gallery -->
    <div class="gallery" id="gallery">
        <div class="container-fluid">
            <h3>Gallery</h3>

            <div class="about-bottom  w3ls-team-info">
                <div class="col-md-12">
                    <div id="Carousel" class="carousel slide">
                        <!-- Carousel items -->
                        <div class="carousel-inner">

                            <div class="item active">
                                <div class="row">
                                    <div class="col-md-3 col-sm-6 col-xs-6 img-gallery-w3l">
                                        <a href="~/immerse/web/images/g1.jpg" class="thumbnail cm-overlay">
                                            <img src="~/immerse/web/images/g1.jpg" class="img-responsive" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-6 img-gallery-w3l">
                                        <a href="~/immerse/web/images/g2.jpg" class="thumbnail cm-overlay">
                                            <img src="~/immerse/web/images/g2.jpg" class="img-responsive" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-6 img-gallery-w3l">
                                        <a href="~/immerse/web/images/g3.jpg" class="thumbnail cm-overlay">
                                            <img src="~/immerse/web/images/g3.jpg" class="img-responsive" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-6 img-gallery-w3l">
                                        <a href="~/immerse/web/images/g4.jpg" class="thumbnail cm-overlay">
                                            <img src="~/immerse/web/images/g4.jpg" class="img-responsive" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->

                            <div class="item">
                                <div class="row">
                                    <div class="col-md-3 col-sm-6 col-xs-6 img-gallery-w3l">
                                        <a href="~/immerse/web/images/g5.jpg" class="thumbnail cm-overlay">
                                            <img src="~/immerse/web/images/g5.jpg" class="img-responsive" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-6 img-gallery-w3l">
                                        <a href="~/immerse/web/images/g6.jpg" class="thumbnail cm-overlay">
                                            <img src="~/immerse/web/images/g6.jpg" class="img-responsive" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-6 img-gallery-w3l">
                                        <a href="~/immerse/web/images/g7.jpg" class="thumbnail cm-overlay">
                                            <img src="~/immerse/web/images/g7.jpg" class="img-responsive" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-6 img-gallery-w3l">
                                        <a href="~/immerse/web/images/g1.jpg" class="thumbnail cm-overlay">
                                            <img src="~/immerse/web/images/g1.jpg" class="img-responsive" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->

                            <div class="item">
                                <div class="row">
                                    <div class="col-md-3 col-sm-6 col-xs-6 img-gallery-w3l">
                                        <a href="~/immerse/web/images/g2.jpg" class="thumbnail cm-overlay">
                                            <img src="~/immerse/web/images/g2.jpg" class="img-responsive" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-6 img-gallery-w3l">
                                        <a href="~/immerse/web/images/g3.jpg" class="thumbnail cm-overlay">
                                            <img src="~/immerse/web/images/g3.jpg" class="img-responsive" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-6 img-gallery-w3l">
                                        <a href="~/immerse/web/images/g4.jpg" class="thumbnail cm-overlay">
                                            <img src="~/immerse/web/images/g4.jpg" class="img-responsive" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-6 img-gallery-w3l">
                                        <a href="~/immerse/web/images/g5.jpg" class="thumbnail cm-overlay">
                                            <img src="~/immerse/web/images/g5.jpg" class="img-responsive" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->

                        </div>
                        <!--.carousel-inner-->
                        <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
                        <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
                    </div>
                    <!--.Carousel-->

                </div>
            </div>
        </div>

    </div>
    <!-- //gallery -->
    <!-- Testimonials-->
    <div class="testimonials" id="testimonials">
        <div class="container">
            <div class="tittle-agileinfo">
                <h3>Testimonials</h3>
            </div>
            <div class="sreen-gallery-cursual">

                <div id="owl-demo" class="owl-carousel">
                    <div class="item-owl">
                        <div class="test-review">
                            <img src="~/immerse/web/images/t1.jpg" class="img-responsive" alt="" />
                            <h5>Edwards Doe</h5>
                            <span>Client</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a diam quis nibh convallis mollis vel nec justo.</p>

                        </div>
                    </div>
                    <div class="item-owl">
                        <div class="test-review">
                            <img src="~/immerse/web/images/t2.jpg" class="img-responsive" alt="" />
                            <h5>Mark Sophia</h5>
                            <span>Client</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a diam quis nibh convallis mollis vel nec justo.</p>

                        </div>
                    </div>
                    <div class="item-owl">
                        <div class="test-review">
                            <img src="~/immerse/web/images/t3.jpg" class="img-responsive" alt="" />
                            <h5>Daniel Nyari</h5>
                            <span>Client</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a diam quis nibh convallis mollis vel nec justo.</p>

                        </div>
                    </div>
                    <div class="item-owl">
                        <div class="test-review">
                            <img src="~/immerse/web/images/t4.jpg" class="img-responsive" alt="" />
                            <h5>Michael Amet</h5>
                            <span>Client</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a diam quis nibh convallis mollis vel nec justo.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/Testimonials-->
    <!-- contact -->
    <div class="contact" id="contact">
        <div class="container">
            <div class="agile-contact-grids">
                <h3>Contact</h3>
                <div class="col-md-6 agile-contact-left">
                    <div class="agileits-map">

                    </div>
                    <div class="map-grid">
                        @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387142.8400948023!2d-74.25819082602831!3d40.70583163923578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1470295981376" height="500" allowfullscreen></iframe>*@
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.322500383406!2d3.379797914266834!3d6.606788224023685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b92fefed94091%3A0x7b9ccf6019787d7e!2sSalawe%20Bus%20Stop!5e0!3m2!1sen!2sng!4v1603398452164!5m2!1sen!2sng" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="col-md-6 agile-contact-right">
                    <div class="contact-form">

                        <form action="#" method="post">
                            <div class="styled-input agile-styled-input-top">
                                <div class="w3_conl">

                                    <input type="text" name="text" placeholder="Name" required="">

                                    <span></span>
                                </div>

                                <div class="w3_conr">

                                    <input type="email" name="Email" placeholder="Email" required="">

                                    <span></span>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="styled-input">

                                <input type="text" name="Subject" placeholder="Subject" required="">

                                <span></span>
                            </div>
                            <div class="styled-input">

                                <textarea name="Message" placeholder="Message" required=""></textarea>

                                <span></span>
                            </div>
                            <input type="submit" value="SEND">
                        </form>
                    </div>
                </div>

                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //contact -->
    <!-- footer -->
    <div class="footer" id="footer">
        <div class="container">
            <div class="list">
                <div class="col-md-3 wthree_fl">
                    <a href="#">BUCKETT</a>
                </div>

                <div class="col-md-6 wthree_fc">
                    <h6> RYTESOFT COMPANY </h6>
                    <h6> KETU, LAGOS </h6>
                    <h6> NIGERIA </h6>
                </div>

                <div class="col-md-3 wthree_fr">
                    <h6>+2348062667809</h6>
                    <h6><a href="mailto:info@rytesoftcompany.net">info@rytesoftcompany.net</a></h6>
                </div>


            </div>
        </div>
    </div>
    <!-- //footer -->
    <div class="copyright">
        <div class="container">
            <p>© @DateTime.Now.Year BUCKETT. All rights reserved | Powered by <a href="http://rytesoftcompany.net">RYTESOFT COMPANY</a></p>
        </div>
    </div>
   
    <script src="~/immerse/web/js/jquery.min.js"></script>
    <script src="~/immerse/web/js/jquery.easing.min.js"></script>
    <script src="~/immerse/web/js/move-top.js"></script>
    <script src="~/immerse/web/js/bootstrap.min.js"></script>
    <script src="~/immerse/web/js/grayscale.js"></script>
    <script src="~/immerse/web/js/SmoothScroll.min.js"></script>
    <!-- flexSlider -->
    <script src="~/immerse/web/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                items: 2,
                itemsDesktop: [800, 2],
                itemsDesktopSmall: [414, 1],
                lazyLoad: true,
                autoPlay: true,
                navigation: true,

                navigationText: false,
                pagination: true,

            });

        });
    </script>

    <!-- //flexSlider -->
    <!-- /gallery -->
    <script src="~/immerse/web/js/jquery.tools.min.js"></script>
    <script src="~/immerse/web/js/jquery.mobile.custom.min.js"></script>
    <script src="~/immerse/web/js/jquery.cm-overlay.js"></script>

    <script>
        $(document).ready(function () {
            $('.cm-overlay').cmOverlay();
        });
    </script>
    <!-- //gallery -->
    <!-- Move-to-top-->
    <script type="text/javascript">
        $(document).ready(function () {
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            $().UItoTop({ easingType: 'easeOutQuart' });
        });
    </script>
    <!--/Move-to-top-->


</body>
</html>