@model IEnumerable<WebBucketApp.Models.LaundryManager>

@{
   
    Layout = null;
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClientNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContractNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShirtNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrouserNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JeanNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgbadaCompleteNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientRemark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Branch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrxnDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClientNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContractNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShirtNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrouserNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JeanNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgbadaCompleteNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientRemark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Branch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrxnDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
